<div>
  <form action="/random/results">
    <label for="enter_min"> Minimum </label>
    <input id="enter_min" type = "text" placeholder ="E.g. 1.5" name="user_min">
    <br>
    <label for="enter_max"> Maximum </label>
    <input id="enter_max" type = "text" placeholder ="E.g. 4.5" name="user_max">
    <br>
    <button> Pick random number </button>
  </form>
</div>
