<div>
  <form action="/square_root/results">
    <label for="calc"> Enter a number </label>
    <input id="calc" type = "text" placeholder ="What number do you want to square root?" name="user_input">
    <br>
    <button> Calculate square root </button>
  </form>
</div>
