<div>
  <form action="/square/results">
    <label for="calc"> Enter a number </label>
    <br>
    <input id="calc" type = "text" placeholder ="What number do you want to square?" name="user_input">
    <br>
    <button> Calculate square </button>
  </form>
</div>
